.sectionProjects {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4rem;
}

.sectionProjects > h2 {
    font: var(--title-2-40px);
}

.sectionProjects > h3 {
    font: var(--title-3);
}

.sectionProjects > div {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.sectionProjects > a {
    font: var(--link);
    color: var(--white);
    text-decoration: none;
}

.sectionProjects > a:hover {
    color: var(--brand);
    text-decoration: underline;
}

@media screen and (min-width: 768px){
    .sectionProjects > div {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-evenly;
    }
}
