.sectionProjects {
    display: flex;
    flex-direction: column;

    gap: 2rem;
    padding: 4rem 0;
}

.sectionProjects > h2 {
    font: var(--title-2-40px);
}

.sectionProjects > div {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

@media screen and (min-width: 768px){
    .sectionProjects > div {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }
}
