.sectionProjects {
    display: flex;
    flex-direction: column;

    gap: 2rem;
    padding: 1rem 0;
}

.sectionProjects > h2 {
    font: var(--title-2-40px);
}

.sectionProjects > div {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

