.card {
    padding: 1.5rem 1.75rem;
    border: 1px solid var(--white-60);
    border-radius: 1.5rem;

    display: flex;
    gap: 2rem;
}

.card:hover {
    border-color: var(--white);
}

.card h3 {
    font: var(--title-3);
}

.card img{
    width: 2rem;
}