.bannerSection {
    display: flex;
    flex-direction: column;
    gap: 0.675rem;
}

.bannerSection h3 {
    font: var(--Paragraph);
    color: var(--brand-hover);
}

.bannerSection > div > h2{
    font:  700 clamp(1rem, 10vw, 3.5rem) 'Inter', sans-serif;;
    color: var(--brown);

    background: linear-gradient(90deg, rgba(179,35,56,1) 0%, rgba(46,17,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bannerSection > div > p{
    margin: 1.5rem 0;
    font: var(--Paragraph);
    color: var(--brown)
}

@media screen and (min-width: 768px){
    .bannerSection {
        padding: 3rem 0 0 0;
        gap: 2rem;
    }
}

@media screen and (min-width: 1024px){
    .bannerSection {
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 0 0 0;

        margin-right: 45%;
    }
    .bannerSection > div{
        display: flex;
        flex-direction: column;
        gap: .75rem;
    }
    .bannerSection > div > button{
        align-self: start;
    }
}