.bannerSection {
    display: flex;
    flex-direction: column;
    gap: 0.675rem;
}

.bannerSection h3 {
    font: var(--Paragraph);
    color: var(--brand-hover);
}

.bannerSection > div > h2{
    font: var(--title-1-42px);
    color: var(--brown)
}

.bannerSection > div > p{
    margin: 1.5rem 0;
    font: var(--Paragraph);
    color: var(--brown)
}

@media screen and (min-width: 768px){
    .bannerSection {
        padding: 3rem 0 0 0;
        gap: 2rem;
    }
}

@media screen and (min-width: 1024px){
    .bannerSection {
        flex-direction: row;
        justify-content: space-between;
        padding: 3rem 0 0 0;

        margin-right: 45%;
    }
    .bannerSection > div{
        display: flex;
        flex-direction: column;
        gap: .75rem;
    }
    .bannerSection > div > button{
        align-self: start;
    }
}

@media screen and (min-width: 1440px){
    .bannerSection > div > h2{
        font: var(--title-1-48px);
    }
}