.card {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;

    padding: 1.5rem 1.75rem;
    border: 1px solid var(--white-60);
    border-radius: 1.5rem;
}

.card:hover {
    border-color: var(--white);
}

.card img {
    height: 2rem;
}

.card > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.card > div > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card > div > div > h3{
    font: var(--title-3);
}

.card > div > div > p{
    color: var(--white-60);
    font: var(--Paragraph);
}

.card a {
    font: var(--link);
    color: var(--brand);
    text-decoration: none;
}

.card a:hover {
    color: var(--brand-hover);
    text-decoration: underline;
}

.card ul {
    display: flex;
}

.card ul li img {
    filter: grayscale(80%);
}

.card:hover ul li img {
    filter: grayscale(0%);
}


@media screen and (min-width: 768px){
    .card {
        width: 100%;
    }
}

@media screen and (min-width: 1024px){
    .card {
        width: 40%;
    }
}