.card {
    position: relative;
    width: 100%;
    box-sizing: border-box;

    max-height: 300px;

    display: flex;
    justify-content: space-between;
    gap: 0.5rem;

    
    border: 2px solid var(--white);
    background-color: transparent;
    border-radius: 1rem;

    flex-direction: column;
    overflow: hidden;

    transition: max-height 3s;  
}

.cardDescription {
    width: 100%;
    height: 100%;
    position: absolute;

    /* top: 0;
    left: -100%; */
    bottom: -100%;
    left: 0;
    transition: all 1.5s;
    background-color: var(--white);
    z-index: 1;

    color: var(--brown);
}

.card:hover .cardDescription {
    width: 100%;
    left: 0;
    bottom: 0;
    /* opacity: 95%; */
}

.cardImg > img {
    width: 100%;
    height: 300px;
}

.cardImg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    height: 380px;
    max-height: 400px;
}

/* Descrição do Projeto */

.cardDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; 
    box-sizing: border-box;
    
    padding: 1.5rem 1.75rem;
}

.cardDescription h3{
    font: var(--title-3);
    margin-bottom: 1rem;
    text-align: center;
}

.cardDescription p{
    font: var(--Paragraph);
    text-align: center;

}

.cardDescription a{
    font: var(--link);
    color: var(--brown);
}

.cardDescription a:hover{
    color: var(--brand-hover);
}

.cardDescription ul {
    display: flex;
}

.cardDescription img {
    width: clamp(30px, 3vw, 40px);
}


@media screen and (min-width: 768px){
    .card {
        width: 100%;    
        height: 100%;
        max-height: auto;

        gap: 0.5rem;
    }

    .card:hover {
        height: auto;
        max-height: auto;
    }

    .cardDescription {
        top: 0;
        left: -100%;
    }
    
    .card:hover .cardDescription {
        left: 0;
        opacity: 95%;
    }
}

@media screen and (min-width: 1024px){
    .card {
        width: clamp(320px, 34vw, 450px);
        max-height: 320px;
    }

}

@keyframes side-in {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}


@keyframes side-out {
    0% {
       opacity: 100;
    }
    100% {
        opacity: 0;
    }
}