.card {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;

    padding: 1.5rem 1.75rem;
    border: 2px solid var(--white-60);
    border-radius: 1rem;

    flex-direction: column;
}

.card span {
    color: var(--brand) ;
}
.card:hover {
    border-color: var(--brand);
}

.card > img {
    width: 100%;
    height: max-content;
    filter: grayscale(80%);
    display: none;
}

.card > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.card > div > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card > div > div > h3{
    font: var(--title-3);
}

.card > div > div > p{
    color: var(--white-60);
    font: var(--Paragraph);
}

.card a {
    font: var(--link);
    color: var(--brand);
    text-decoration: none;
}

.card a:hover {
    color: var(--brand-hover);
    text-decoration: underline;
}

.card ul {
    display: flex;
}

.card ul li img {
    width: clamp(40px, 3vw, 50px);
}

@media screen and (min-width: 768px){
    .card {
        width: 100%;
        flex-direction: row;
    }

    .card > img {
        width: 50%;
        max-height: 275px;
        align-self: center;
    }

    .card > div {
        width: 50%;
    }

    .card ul li img {
        filter: grayscale(80%);
    }
    
    .card:hover img {
        filter: grayscale(0%);
    }
}

@media screen and (min-width: 425px){
    .card > img {
        display: block;
    }
}