.sectionAboutMe {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sectionAboutMe h2{
    font: var(--title-2-36px);
}

.sectionAboutMe p{
    font: var(--Paragraph);
    line-height: 150%;
    color: var(--white-60);
}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 1024px){
    .sectionAboutMe {
        flex-direction: row;
        justify-content: space-between;
    }

    .sectionAboutMe h2 {
        width: 100%;
    }
}

@media screen and (min-width: 1440px){
    .sectionAboutMe h2 {
        width: 80%;
    }
}