.sectionAboutMe {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sectionAboutMe h2{
    font: var(--title-2-36px);
}

.sectionAboutMe p{
    font: var(--Paragraph);
    line-height: 150%;
}