.header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
    align-items: center;
    
    color: var(--white);
    font-family: Inter, sans-serif;
    
    
    background-color: var(--black);
    padding-bottom: 1.5rem;
}

h1 {
    font: var(--title-3)
}

ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

li {
    font: var(--Paragraph);
}