.header {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: center;
    position: sticky;
    top: 0;
    
    min-height: 2rem;
    z-index: 1;
    background-color: var(--brand-80);
}

.header h1 {
    font: var(--title-3)
}

.header ul {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    
    gap: 1.5rem; 
    padding: 0.25rem 0 ;
}

.header li a {
    font: var(--Paragraph);
    color: var(--white);

}
.header li a:hover {
    color: var(--brand-hover);
}

@media screen and (min-width: 768px){
    .header{
        display: flex;
    }
}