.header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
    align-items: center;
    
    border-radius: 255px;

    padding: 0.5rem;
    background-color: var(--brand-80);
    position: sticky;
    top: .5rem;
    backdrop-filter: blur(50px);
    z-index: 1;
}

.header h1 {
    font: var(--title-3)
}

.header ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.header li a {
    font: var(--Paragraph);
    color: var(--white);

}
.header li a:hover {
    color: var(--brand-hover);
}

@media screen and (min-width: 768px){
    .header{
        flex-direction: row;
        justify-content: space-between;
    }
    .header ul {
        justify-content: space-evenly;
    }   
}