.header {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    position: sticky;
    top: .75rem;
    
    min-height: 75px;
    z-index: 1;
}

.header:hover ul {
    top: 0px;
}

.header h1 {
    font: var(--title-3)
}

.header ul {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    
    border-radius: 255px;
    gap: 1.5rem; 
    padding: 0.25rem;
    background-color: var(--brand-80);
    
    backdrop-filter: blur(50px);
    z-index: 1;
    top: -50px;
    left: 0;
    transition: all 1.5s;

    animation: showBar 3s ease-in;
    animation-fill-mode: forwards;
}

.header li a {
    font: var(--Paragraph);
    color: var(--white);

}
.header li a:hover {
    color: var(--brand-hover);
}

@media screen and (min-width: 768px){
    .header{
        flex-direction: row;
        justify-content: space-between;
    }
    .header ul {
        justify-content: space-evenly;
    }   
}


@keyframes showBar {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}