.header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
    align-items: center;
    
    color: var(--white);
    font-family: Inter, sans-serif;
    
    
    background-color: var(--black);
}

.header h1 {
    font: var(--title-3)
}

.header ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.header li a {
    font: var(--Paragraph);
    color: var(--white);

}
.header li a:hover {
    color: var(--brand-hover);
}

@media screen and (min-width: 768px){
    .header{
        flex-direction: row;
        justify-content: space-between;
    }
    .header ul {
        justify-content: space-evenly;
    }   
}