.card {
    padding: .75rem 1rem;
    border: 2px solid var(--white-60);
    border-radius: 1rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.card:hover {
    border-color: var(--white);
}

.card h3 {
    font: var(--title-3);
}

.card img{
    width: 3rem;
    filter: grayscale(80%);
}

.card:hover img{
    filter: grayscale(0%);
}

@media screen and (min-width: 768px){
    .card {
        width: 37%;
    }
}

@media screen and (min-width: 1024px){
    .card {
        width: 40%;
    }
}

@media screen and (min-width: 1440px){
    .card {
        width: 25%;
    }
}

.cardNew {
    padding: 1rem;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    gap: 0.25rem;
    
    max-width: calc(5rem + 2rem);
    text-align: center;

    transition: 800ms;
}

.cardNew img {
    width: 6rem;
    filter: grayscale(100%);
}

.cardNew:hover img {
    filter: grayscale(0%);
    transition: 800ms;
}

.cardNew h3 {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}