.card {
    padding: 1.5rem 1.75rem;
    border: 1px solid var(--white-60);
    border-radius: 1.5rem;

    display: flex;
    align-items: center;
    gap: 2rem;
}

.card:hover {
    border-color: var(--white);
}

.card h3 {
    font: var(--title-3);
}

.card img{
    width: 3rem;
    filter: grayscale(100%);
}

.card:hover img{
    filter: grayscale(0%);
}

@media screen and (min-width: 768px){
    .card {
        width: 37%;
    }
}

@media screen and (min-width: 1024px){
    .card {
        width: 40%;
    }
}

@media screen and (min-width: 1440px){
    .card {
        width: 25%;
    }
}