.cardNew {
    padding: 1rem;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    gap: 0.25rem;
    
    max-width: calc(5rem + 2rem);
    text-align: center;

    transition: 800ms;
}

.cardNew img {
    width: 5rem;
    filter: grayscale(100%);
}

.cardNew:hover img {
    filter: grayscale(20%);
    width: 5.5rem;
    transition: 600ms;
}

.cardNew h3 {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}