.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem; 

    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    
    padding: 2rem;
}

.footer h2 {
    font: var(--title-2-40px);
}

.footer p {
    font: var(--Paragraph);
    text-align: center;
}

.footer > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer > div > div{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer img {
    width: 2rem;
}

@media screen and (min-width: 1024px){
    .footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem 10%;
    }

    .footer > div > div{
        justify-content: start;
    }
}