.button {
    padding: 0.75rem 1.5rem;
    background-color: var(--brand);
    color: var(--white);
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: 12px;
}

.button:hover {
    background-color: var(--brand-hover);
}