.stacksSection {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.stacksSection > h2{
    font: var(--title-2-36px);
}

.stacksSection > div{
    display: flex;
    flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
}
